<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="container">
    <section>
      <div class="user-nav">
        <h1>User</h1>
        <a href="/users/logout" class=""
          ><button class="btn btn-outline-primary btn-lg border-4">
            Logout
          </button></a
        >
      </div>
    </section>

    <%- include('../partials/footer'); %>
  </body>
</html>
