<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <div class="margin-top"><h2>ADD ADMIN OR USER</h2></div>

    <form action="/users/addAdmin" method="post" class="form-group">
      <input
        type="text"
        name="firstName"
        placeholder="First Name"
        required
        class="form-control"
        pattern="[A-Za-z]{1,100}"
      /><br />
      <input
        type="text"
        name="lastName"
        placeholder="Last Name"
        required
        class="form-control"
        pattern="[A-Za-z]{1,100}"
      /><br />
      <input
        type="email"
        name="email"
        placeholder="Email"
        required
        class="form-control"
      /><br />

      <select class="select-box form-control" name="type" id="">
        <option value="admin">admin</option>
        <option value="user">user</option></select
      ><br />
      <input
        type="password"
        name="password"
        placeholder="password"
        required
        class="form-control"
        pattern=".{8,}"
        title="minimum 8 characters required"
      /><br />
      <span style="color: red"><%= mesage %> </span><br />
      <input
        class="btn btn-outline-primary"
        type="submit"
        name=""
        value="Submit"
        id=""
      />
    </form>

    <%- include('../partials/footer'); %>
  </body>
</html>
